/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure html and body take full height */
html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  overflow-x: hidden;
  font-family: sans-serif;
}
